<div class="br-pagetitle">
	<i class="icon ionicons ion-social-usd"></i>
	<div>
		<h4>TARIFS</h4>
		<p style="color:blue;" class="mg-b-0">----</p>
	</div>
</div><!-- d-flex -->

<div class="br-section-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm"><h6 class="br-section-label">Liste des Tarifs </h6>
			{% if "tarif-add" in app.session.get('userdroit') %}
				<div    x-data="{ ajouter : false }">
					<div class="d-flex justify-content-end" style="padding: 0px !important; color:white;">
						<button onclick="show()" class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter</button>
						<button class="btn btn-secondary {{app.user.hasAccess('print-tarif')}}" style="margin-left:5px;"><a style="color:white;" href="{{path('print-tarif')}}" target="_blank"><i class="fa fa-print"></i> Imprimer</a></button>
					</div><br>

					<div class="formelement" x-show="ajouter" style="padding:10px;">
						<div class="row d-flex justify-content-center">
							<div class="col-lg-7 col-xlg-8 col-md-12">
								<div class="row mg-t-80">
									<div class="col">
										<form id="form-send" class="js-form-send {{app.user.hasAccess('tarif-add')}}" action="{{path('tarif-add')}}" method="POST" data-toggle="ajax" data-target="monContent">
											<div class="form-layout form-layout-4">
												<h6 class="br-section-label">Ajouter un tarif</h6>
												<div class="row">
													<label class="col-sm-4 form-control-label">Antenne: <span class="tx-danger">*</span></label>
													<div class="wd-250 col-sm-8 mg-t-10 mg-sm-t-0">
														<select name="antenne" class="form-control select2" data-placeholder="Sélectionner" required>
														<option label="Sélectionner"></option>
														{% for antenne in antennes %}
															<option value="{{antenne.id}}">{{antenne.nom}}</option>
														{% endfor %}
														</select>
													</div><!-- wd-250 -->
												</div><!-- col--><br>
												<div class="row">
													<label class="col-sm-4 form-control-label">Nom: <span class="tx-danger">*</span></label>
													<div class="col-sm-8 mg-t-10 mg-sm-t-0">
														<input type="hidden" name="id" id="id">
														<input type="text" class="form-control" placeholder="Nom" name="nom">
													</div>
												</div><!-- row -->
												<br>
												<div class="row">
													<label class="col-sm-4 form-control-label">durée (en Heure): <span class="tx-danger">*</span></label>
													<div class="col-sm-8 mg-t-10 mg-sm-t-0">
														<input type="number" class="form-control" placeholder="la durée" name="dure">
													</div>
												</div><!-- row -->
												<br>
												<div class="row">
													<label class="col-sm-4 form-control-label">Type de chambre: <span class="tx-danger">*</span></label>
													<div class="wd-250 col-sm-8 mg-t-10 mg-sm-t-0">
														<select name="type" class="form-control select2" data-placeholder="Sélectionner">
														<option label="Sélectionner"></option>
														{% for type in types %}
															<option value="{{type.id}}">{{type.nom}}</option>
														{% endfor %}
														</select>
													</div><!-- wd-250 -->
												</div><!-- col-->
												<br>
												<div class="row">
													<label class="col-sm-4 form-control-label">Type de tarif: <span class="tx-danger">*</span></label>
													<div class="wd-250 col-sm-8 mg-t-10 mg-sm-t-0">
														<select name="typetarif" class="form-control select2" data-placeholder="Sélectionner">
														
															<option value="NUITEE">nuitée</option>
															<option value="SIESTE">sieste</option>
														</select>
													</div><!-- wd-250 -->
												</div><!-- col-->
												<br>
												<div class="row">
													<label class="col-sm-4 form-control-label">prix: <span class="tx-danger">*</span></label>
													<div class="col-sm-8 mg-t-10 mg-sm-t-0">
														<input type="number" class="form-control" name="price" min="100" value="" step=".01">
													</div>
												</div><!-- row -->
												<br>
												<div class="row">
													<label class="col-sm-4 form-control-label">Description: <span class="tx-danger">*</span></label>
													<div class="col-sm-8 mg-t-10 mg-sm-t-0">
													<textarea rows="3" class="form-control mg-t-20" name="description" placeholder="Description"></textarea>
													</div>
												</div><!-- row -->

												<div class="row row-xs mg-t-30">
													<div class="col-sm-8 mg-l-auto">
														<button type="button" class="btn btn-secondary" onclick="showNouveau()">Annuler</button>
														<button type="submit" id="btn-save-nouveau" class="btn btn-primary mg-r-5">Enrégistrer</button>																			
													</div>
												</div><!-- form-layout-footer -->
											</div><!-- form-layout -->
										</form>
									</div><!-- col-6 -->
								</div><!-- row -->
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			</div>	
		</div>
	</div>
	
<div class="br-section-wrapper">  
  <div id="accordion2" class="accordion accordion-head-colored accordion-primary" role="tablist" aria-multiselectable="true">
    
      {% for item in antennes %}
              <div class="card-header" role="tab" id="headingThree2{{loop.index}}">
              <h4 class="mg-b-0">
                <a class="collapsed transition" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2{{loop.index}}" aria-expanded="false" aria-controls="collapseThree2">
                  ANTENNE DE {{item.nom}}                 
                  <i class=" fa fa-chevron-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapseThree2{{loop.index}}" class="collapse" role="tabpanel" aria-labelledby="headingThree2">
            <div class="br-pagebody">
              <div class="card-block pd-20">
                  <div class="table-wrapper">
                   <table class="datatable table display nowrap">
			<thead>
				<tr>
					<th class="wd-15p">#</th>
					<th class="wd-15p">Nom</th>
					<th class="wd-15p">Type</th>
					<th class="wd-20p">Durée</th>
					<th class="wd-15p">Type de Chambre</th>
					<th class="wd-20p">Prix</th>
					<th class="wd-20p">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for tarif in item.tarifs %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{tarif.nom}}</td>
						<td>{{tarif.type}}</td>
						<td>{{tarif.duree}}</td>
						<td>{{tarif.typechambre.nom}}</td>
						<td>{{tarif.prix | craue_currency('XAF', 'fr-FR')}}</td>
						<td>
							<!--button class="btn btn-teal active"><i class="fa fa-eye" aria-hidden="true"></i></button-->
							{% if "tarif-edit" in app.session.get('userdroit') %}
								<button class="btn btn-teal active" ><a href="{{ path('tarif-edit', {'id':tarif.id}) }}" style="padding: 0px !important; color:white;" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-edit" aria-hidden="true"></i></a></button>
							{% endif %}
							{% if "tarif-delete" in app.session.get('userdroit') %}
							<form style="display: contents;" class="confirm-waiting js-form-send confirm-delete" data-message="Voulez-vous supprimer ce Tarif?" data-toggle="ajax" data-target="monContent" action="{{ path('tarif-delete', {'id':tarif.id}) }}" method="DELETE">
								<button class="btn btn-pink active"><i class="fa fa-trash" aria-hidden="true"></i></button>	
							</form>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
                  </div>
              </div>
            </div>
            </div><!-- collapse -->  
      {% endfor %}
    
  </div><!-- accordion -->
</div><!-- br-section-wrapper -->
</div><!-- br-section-wrapper -->

<script>
$(document).ready(function () {
	$(".formelement").hide();
	
});
</script>
<script>
	function show() {
	$(".formelement").show();
	}
	function hide() {
	$(".formelement").hide();
	}
</script>

