<div class="br-pagetitle">
	<i class="icon fa fa-hourglass-half"></i>
	<div>
	<h4>ETAT DU STOCK DU MAGASIN {{magasin.nom}}</h4>
	<p style="color:blue;" class="mg-b-0">----</p>
	</div>
</div><!-- d-flex -->

<div class="br-section-wrapper">
	<h6 class="br-section-label">etat du stock du magasin {{magasin.nom}} de l'antenne {{magasin.antene.nom}}</h6>
	<div class="card-header bg-dark">
		<ul class="nav nav-tabs nav-tabs-for-dark card-header-tabs">
			<li class="nav-item">
			<a class="nav-link bd-0 active pd-y-8" href="#popular2" data-toggle="tab">ETAT GENERAL</a>
			</li>
			<li class="nav-item">
			<a class="nav-link bd-0 tx-gray-light" href="#recent2" data-toggle="tab">PRODUIT EN RUPTURE</a>
			</li>
		</ul>
	</div><!-- card-header -->
	<div class="card-body color-gray-lighter bd bd-t-0 rounded-bottom">
		<div class="tab-content">
			<div class="tab-pane active" id="popular2">
				<h4>LISTE DES PRODUIT POUR L MAGASIN</h4>
				<div class="col-lg-12 col-xlg-12 col-md-12">
					<div class="table-wrapper responsiveelement">
						<table class="datatable table display responsive nowrap">
							<thead>
								<tr>	        
									<th class="wd-5p">ID</th>
									<th class="wd-40p">Produit</th>
									<th class="wd-20p">Photo</th>
									<th class="wd-25p">Quantité en stock</th>

									
								</tr>
							</thead>
							<tbody>
								{% for produit in stocks %}                                
									<tr >
										<td>1111{{loop.index}}</td>
										<td>{{produit.nomproduit}}</td>
										<td><img src="{{asset('photo/Produits/'~ produit.photo)}}" class="wd-32"> </td>
										<td>{{produit.qtstock}}</td>
									
									</tr>
									{% endfor %}
							</tbody>
						</table>
					</div><!-- table-wrapper -->
				</div>
			</div><!-- tab-pane -->
			<div class="tab-pane" id="recent2">
				<h4>PRODUIT EN RUPTURE DE STOCK DANS LE MAGASION</h4>
				<div class="col-lg-12 col-xlg-12 col-md-12">
					<div class="table-wrapper responsiveelement">
						<table class="datatable table display responsive nowrap">
							<thead>
								<tr>	        
									<th class="wd-5p">ID</th>
									<th class="wd-40p">Produit</th>
									<th class="wd-20p">Photo</th>
									<th class="wd-25p">Quantité en stock</th>																
								</tr>
							</thead>
							<tbody>
								{% for produit in stocks %}
									{% if produit.repture %}
										<tr>
											<td>{{loop.index}}</td>
											<td>{{produit.nomproduit}}</td>
											<td><img src="{{asset('photo/Produits/'~ produit.photo)}}" class="wd-32"> </td>
											<td>{{produit.qtstock}}</td>                                    
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div><!-- table-wrapper -->
				</div>
			</div><!-- tab-pane -->
		</div><!-- tab-content -->
	</div><!-- card-body -->
</div><!-- br-section-wrapper -->


