<div class="br-mainpanel">

      <div class="br-pagetitle">
        <i class="icon ionicons ion-android-contact"></i>
        <div>
          <h4>Utilisateur</h4>
          <p style="color:blue;" class="mg-b-0">----</p>
        </div>
      </div><!-- d-flex -->

      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <div class="container">
					<div class="row">
						<div class="col-sm"><h6 class="br-section-label">Liste des Uttilisateurs</h6>
							<div    x-data="{ ajouter : false }">
								<div class="d-flex justify-content-end" style="padding-right:10px;" >
                  				<button onclick="show()"  class="btn btn-primary"><i class="fas fa-plus"></i> Editer</button>
                          <button class="btn btn-secondary" style="margin-left:5px;"><a style="color:white;" href="{{path('print-user')}}" target="_blank"><i class="fa fa-print"></i> Imprimer</a></button>
								</div><br>
								<div class="formelement" x-show="ajouter" style="padding:10px;">
									<div class="row d-flex justify-content-center">
										<div class="col-lg-7 col-xlg-8 col-md-12">
											<div class="row mg-t-80">
												<div class="col">
													<form id="form-send" class="js-form-send" action="{{path('updateroleuser')}}" method="POST"
                            data-toggle="ajax" data-target="monContent">
														<div class="form-layout form-layout-4">
															<h6 class="br-section-label"> Editer un utilisateur</h6>
															<div class="row">
                                  <label class="col-sm-4 form-control-label">Personne: <span class="tx-danger">*</span></label>
                                  <div class="col-sm-8 mg-t-10 mg-sm-t-0" style="margin-bottom: 20px;">
                                    <select name="user" class="form-control select2" data-placeholder="Choose one" style="width: 75%">
                                      {% for user in utilisateurs | reverse %}
                                        <option value="{{user.id}}">{{user.nom}} {{user.prenom}} ({{user.username}})</option>
                                      {% endfor %}
                                    </select>
                                  </div>

                                  <label class="col-sm-4 form-control-label">Role: <span class="tx-danger">*</span></label>
                                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <select name="role" class="form-control select2" data-placeholder="Choose one" style="width: 75%">
                                      {% for role in roles %}
                                      <option value="{{role.id}}">{{role.nom}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
								  <label class="col-sm-8 form-control-label">Super administrateur:</label>
                                <div class="col-sm-3 mg-t-10 mg-sm-t-10">
                                  <input type="checkbox" class="form-control" name="superadmin">
                                </div>
															</div><!-- row -->
															<br>
                              <div class="form-layout-footer mg-t-30">
                                <button type="submit" id="btn-save-nouveau" class="btn btn-primary mg-r-5">Valider</button>
                                <button type="button" class="btn btn-secondary" onclick="hide()">Annuler</button>
                                
														  </div><!-- form-layout-footer -->
														</div><!-- form-layout -->
                            
													</form>
												</div><!-- col-6 -->
											</div><!-- row -->
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
        <div class="table-wrapper responsiveelement">
          <table class="datatable table display nowrap">
            <thead>
              <tr>
                <th class="wd-15p">#</th>
                <th class="wd-15p">Utilisateur</th>
                <th class="wd-15p">Role</th>
                <th class="wd-15p">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for user in utilisateurs | reverse %}
                        <tr>
                          <td>{{loop.index}}</td>
                          <td>{{user.username}}</td>
                          <td> {{user.role.nom is defined ? user.role.nom : ''}}</td>
                          <td>
                              {# <button class="btn btn-teal active" ><a href="" style="padding: 0px !important; color:white;" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-eye" aria-hidden="true"></i></a></button>
                              <button class="btn btn-primary active"><i class="far fa-edit"></i></button> #}
							  {% if not user.isadmin %}
                              	<button class="btn btn-pink active"><i class="fa fa-trash" aria-hidden="true"></i></button> 
								{% endif %}
                          </td>
                        </tr>
                {% endfor %}
            </tbody>
          </table>
        </div><!-- table-wrapper -->
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
    </div><!-- br-mainpanel -->



   
    <script>
      $(".formelement").hide();
    </script>
    <script>
      function show() {
        $(".formelement").show();
      }
      function hide() {
        $(".formelement").hide();
      }
    </script>
    
		
		
  


