{% extends 'admin/print/baseprint.pdf.twig' %}

{% block reportbody %}
<h2 class="titre">LISTE DES EMPLOYES</h2>
<table class="table"  border="1" cellspacing="1" cellpadding="4">
    <tr class="table-header">
        <th width="5%">#</th>
        <th width="20%">Nom</th>
        <th width="20%">Prenom</th>
        <th width="30%">Téléphone</th>
        <th width="25%">Email</th>
        <th width="25%">Type</th>
    </tr>
    <tbody>
        {% for item in employe %}
         <tr style="background-color: {{loop.index % 2 == 0 ? '' : '#f0f4f5'}}">
            <td align="center">{{ loop.index }}</td>
            <td>{{ item.nom}}</td>
            <td>{{ item.prenom}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.type}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}