<style>
#myshow1 {
 
  display:none;
  
}


</style>
    
    
    <div class="br-pagetitle">
        <i class="icon ion-man"></i>
        <div>
          	<h4>Hebergement (SIESTE)</h4>
          	<p style="color:blue;" class="mg-b-0">----</p>
        </div>
    </div><!-- d-flex -->
           
    <div class="br-section-wrapper">
        <div id="divError" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erreur:</strong>
            <span class="messageError"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="container-fixed" align="center">
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-start">
                        <i class="fas fa-times alert-icon tx-32 mg-t-5 mg-xs-t-0"></i>
                        <strong class="d-block d-sm-inline-block-force">{{ message }}</strong>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <form id="form-send" class="js-form-sendallocation {{app.user.hasAccess('sieste-add')}}" data-toggle="ajax" data-target="monContent" action="{{path('sieste-add')}}" method="POST">
            <div class="form-layout form-layout-1">
                <div class="row mg-b-25">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Type de Chambres: <span class="tx-danger">*</span></label>
                            <select name="typebed" class="form-control typedechambre js-select2" data-placeholder="Choose one" style="width: 75%">
                                <option value="0">Sélectionner le type</option>
                                {% set newArray = [] %}
                                {% for tarif in tarifs %}
                                    {% if tarif.typechambre.id not in newArray %}
                                        <option value="{{ tarif.typechambre.id }}">{{tarif.typechambre.nom}}</option>
                                        {% set newArray = newArray|merge([tarif.typechambre.id ]) %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Durée : <span class="tx-danger">*</span></label>
                            <select name="sejourclient" id="montant" class="form-control tarifdeschambres js-select2" data-placeholder="Choose one" style="width: 75%">
                                    <option value="0">Durée du sejour</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Quantité <span class="tx-danger">*</span></label>
                            <input value="1" id="quantiter"  class="form-control" type="number" name="qte">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a onclick="checkdisponibilteofroom()" style="margin-top: 30px; color:white;" class="btn btn-primary btn-with-icon">
                            <div class="ht-40 justify-content-between">
                                <span class="pd-x-15">Verifier</span>
                                <span class="icon wd-40"><i id="vefificationstatic" class="fa fa-check-circle"></i> <i id="vefificationenable" class="fa fa-spinner fa-pulse"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="contentaftervalide">
                    <div class="row mg-b-25">
                        <div class="col-lg-8">
                            <div class="form-group mg-b-10-force">
                                <label class="form-control-label">Chambre disponible: <span class="tx-danger">*</span></label>
                                <select name="chambre" class="form-control chambres js-select2" data-placeholder="Choose one" style="width: 75%">
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                <button type="submit" id="btn-save-nouveau" class="btn btn-primary mg-r-5">Valider</button>
                </div>
            
            </div>
        </form>
        {#<button type="button" class="btn btn-secondary" onclick="hide()">Annuler</button>#}
    </div>
    
<script>
    
    $('#vefificationstatic').show();
    $('#vefificationenable').hide();
    $("#contentaftervalide").hide();
    $(".formelement").hide();


    $( ".typedechambre" ).change(function() {
        $('.tarifdeschambres').find('option').remove();
            $.ajax({
                url: "/getsiestetarif?id="+$(this).children("option:selected").val(),
                type: 'GET',
            }).done(function(data){

                i=0;
                while(i<data.length){
                    $('.tarifdeschambres').append('<option value="'+data[i].id+'" >'+data[i].nom+'('+data[i].prix+'FCFA - '+data[i].duree+'heure )'+'</option>');
                    i++;
                }  
                    
            }).fail(function(error){
                console.log("no ok");
            });
    });

   
</script>

<script>
    
    $("#canpay").hide();


    $( ".paiement" ).change(function() {
        tarif = $(".tarifdeschambres option:selected" ).text();
        montant = parseFloat(tarif.match(/-?(?:\d+(?:\.\d*)?|\.\d+)/)[0]);

        $.ajax({
            url: "/getcanpay?id="+$(this).children("option:selected").val(),
            type: 'GET',
        }).done(function(data){
            if(data >= montant){
                $("#canpay").show();
            }else{
                $("#canpay").hide();
            }
            /*i=0;
            while(i<data.length){
                $('.tarifdeschambres').append('<option value="'+data[i].id+'" >'+data[i].nom+'('+data[i].duree+'heure - '+data[i].prix+'FCFA )'+'</option>');
                i++;
            }*/  
                
        }).fail(function(error){
            console.log("no ok");
        });
    });


</script>

<script>
    
    function checkdisponibilteofroom() {
        $('#vefificationstatic').hide();
        $('#vefificationenable').show();
        $("#contentaftervalide").hide();
        var typechambre=$('.typedechambre').children("option:selected").val();
        //alert($('.typedechambre').children("option:selected").val());
        //alert($('.tarifdeschambres').children("option:selected").val());
        $('.chambres').find('option').remove();
        
        //alert($('#timeat').val());
        $.ajax({
            url: "/getallchambrelibre",
            type: 'POST',
            dataType: 'json',
            data:{"datearrivee": $('#timeat').val(),"typechambre": typechambre,"duree":$('.tarifdeschambres').children("option:selected").val(),
            "quantite":$('#quantiter').val()}
        }).done(function(data){ 
                    $('#vefificationstatic').show();
                    $('#vefificationenable').hide();
                    if(data.length==0){
                        
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: "pas de chambre disponible",
                                showConfirmButton: false,
                                timer: 2000
                            })
                       
                    }else{
                        $("#contentaftervalide").show();
                        i=0;
                        while(i<data.length){
                            $('.chambres').append('<option value="'+data[i].id+'" >'+data[i].numero+'</option>');
                            i++;
                        } 
                    }
                     
                
        }).fail(function(error){
            $('#vefificationstatic').show();
            $('#vefificationenable').hide();
        });
    }
</script>
<script> 
function anuleraddclient() {
    $("#checkclient").prop("checked", false);
    $('#form-new-client').hide();
    $('#oldclient').show();
    $('.textnewclient').show();
}
$("#checkclient").prop("checked", false);
$('#form-new-client').hide();
$( "#btnaffformadd" ).click(function() {
 $('#form-new-client').show();
 $('#oldclient').hide();
 $("#checkclient").prop("checked", true);
 $('.textnewclient').hide();
});

$(".js-form-sendallocation").on('submit', function(e) {

    e.preventDefault();
    //////
    var idForm = $(this).attr('id');
    var element = $("#" + idForm + " #btn-save-nouveau");
    var element2 = $("#" + idForm + " #btn-save-nouveau");
    element.html('Chargement... <span class="fa fa-spinner fa-pulse"></span>');
    element.attr("disabled", "true");
    //////
    var dataform = $(this).serialize();
    $.ajax({
            url: "/allocationadd",
            type: 'POST',
            dataType: 'json',
            data:dataform
        }).done(function(data){ 
            $("#contentaftervalide").hide();
            element2.html('VALIDER');
            element2.attr("disabled", "false");
            if(data.success){
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: "Enregistrement terminer !",
                    showConfirmButton: false,
                    timer: 3000
                })
            }else{
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: "Enregistrement terminer !",
                    showConfirmButton: false,
                    timer: 3000
                })
            }        
                
        }).fail(function(error){
            console.log("no ok");
        });
}) 
</script>

{#  hide montant#}

<script>

</script>

{#  #}


<script>
    $("#form-filtre").on('submit', function(e){
      e.preventDefault();
        var jour = $("#jour").val();    
        var chambre = $("#chambre").val(); 
		var typechambre = $("#typechambre").val();   
        var url = "/filtreallocation?jour="+jour+"&chambre="+chambre+"&typechambre="+typechambre;        ;
        var effect = guessEffect(this, "#monContent");
        ajaxLink(url, "monContent", "html", effect);        
    })

</script>