<style>
    #myshow1 {
    display:none;
    }
    .active {
      font-size: 1.5em;
        background-color: #343a40;
    }
    .nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus{
        background-color: #343a40;
    }
</style>   
    
<div class="br-pagetitle">
    <i class="icon ion-man"></i>
    <div class="col">
        <h4>HEBERGEMENT</h4>
        <p style="color:blue;" class="mg-b-0">----</p>
    </div>
    <div class="col">
        <label for="" class="mg-t-10 tx-20 tx-bold">Filtre par type: </label>
        <select class="form-control js-select2" name="type_id" style="width: 50%;" id="type">
            <option label="Choisir un type"></option>
            {% for type in types %}
                <option style="width: 100%;" value="{{type.id}}">{{type.nom}}</option>
            {% endfor %}        
            <option value="all">Toues les chambres</option>
        </select>
    </div>
    <div class="col">
        <a class="btn btn-secondary mg-l-100" href="{{path('index-allocation')}}" data-toggle="ajax" data-target="toggle"> <i style="font-size:18px" class="fa">&#xf021;</i> Actualiser les données</a>  
    </div>
</div>
<hr class="mg-t-1">
<div class="rounded shadow mb-2 border-dark">
	<ul id="myTab1" role="tablist" class="nav nav-tabs nav-pills with-arrow flex-column flex-sm-row text-center">
        <li class="nav-item flex-sm-fill libre">
          <a id="non-traitees-tab" style="height:50px;" data-toggle="tab" href="#non-traitees" role="tab" aria-controls="non-traitees" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border active">CHAMBRES LIBRES</a>
        </li>
        <li class="nav-item flex-sm-fill occupee">
          <a id="traitees-tab" style="height:50px;" data-toggle="tab" href="#traitees" role="tab" aria-controls="traitees" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 border">CHAMBRES OCCUPEES</a>
        </li>
	</ul>
	<div id="myTab1Content" class="tab-content">
        <div id="non-traitees" role="tabpanel" aria-labelledby="non-traitees-tab" class="tab-pane fade px-4 py-4 show active">
            {% for type in types | reverse %}   
                    <h5 class="text-center text-uppercase filtre-titre" id="titre-{{type.id}}">__________chambres de type {{type.nom}}__________</h5>
                    <div class="card-columns column-count-6 mg-t-20 filtre-type" id="filtre-{{type.id}}">
                        {% for chambre in type.chambres %}
                            {% if chambre.id not in chambreIds %}             
                                <div class="card filtre overflow-x-auto" id="chambre-{{chambre.id}}">
                                    <img class="card-img-top img-fluid" src="{{asset('photo/Chambre/'~ chambre.photo1)}}" alt="Image" width="auto" height="100px">
                                    <div class="card-body">
                                    <p class="card-text text-muted">
                                        <h4 class="text-center">{{chambre.numero}}</h4>
                                        <div  style="font-size: 0.6em;">
                                            Type: <u>{{chambre.type.nom}}</u><br>
                                            Sieste: <u>{{type.tarifSieste | craue_currency('XAF', 'fr-FR')}}</u><br>
                                            Nuitée: <u>{{type.tarifNuitee| craue_currency('XAF', 'fr-FR')}}</u><br>
                                        </div>
                                        <div class="col-sm-11 mg-l-auto mg-t-10 z-index-100">
                                            <div class="dropdown">
                                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a href="{{ path('showchambre',{id: chambre.id}) }}" class="btn btn-link {{app.user.hasAccess('showchambre')}}"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-eye"></i> Détails</a>
                                                    <hr>
                                                    <a href="" title="Allouer lla chambre" class="btn btn-link" data-toggle="modal" data-target="#modalAllocation" onclick="loadModalData({{chambre.id}}, '{{chambre.numero}}', '{{type.nom}}', {{type.tarifSieste}}, {{type.tarifNuitee}})"><i class="fa fa-plus"></i> Allouer</a>                                       
                                                </div>
                                                </div>
                                        </div>                    
                                    </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}                    
                    </div><!-- card-columns -->  
                    <hr class="filtre-hr" id="hr-{{type.id}}">
            {% endfor %}
        </div>
      
        <div id="traitees" role="tabpanel" aria-labelledby="traitees-tab" class="tab-pane fade px-4 py-4">
            <div class="card-columns column-count-6 mg-t-10">
                {% for allocation in allocations %}
                    <div class="card h-100 overflow-auto">
                        <!-- <img class="card-img-top img-fluid" src="../img/img12.jpg" alt="Image"> -->
                        <img class="card-img-top img-fluid" src="{{asset('photo/Chambre/'~ allocation.chambre.photo1)}}" alt="Image">
                        <div class="card-body">
                        <p class="card-text text-muted mg-t-1">
                            <h4 class="text-center">{{allocation.chambre.numero}}</h4>
                            {% set now = ("now" | date("Y-m-d H:i:s")) %}
                            <div  style="font-size: 0.6em;">
                                Client: <u class="tx-bold">{{allocation.occupant.nom}} {{allocation.occupant.nom}} {{allocation.id}}</u><br>
                                Type: <u class="tx-bold">{{allocation.chambre.type.nom}}</u><br>
                                In: <u><span class="tx-bold tx-12">{{allocation.datedebut | date('d-m-Y H:i:s')}}</span></u><br>
                                Out: <u><span class="tx-12 badge badge-{{allocation.isTimeExpired ? "warning" : "danger"}}">{{allocation.datefin | date('d-m-Y H:i:s')}}<span></u><br>
                                Héb: <u><span class="tx-12 tx-bold">{{allocation.type}} ({{allocation.duree}})<span></u><br>
                                Prix: <u><span class="tx-12 tx-bold">{{allocation.montant | craue_currency('XAF', 'fr-FR')}}<span></u><br>
                                {% if allocation.datefin > "now" %}
                            </div>                    
                            <div class="col-sm-11 mg-l-auto mg-t-10">
                                {# <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                        
                                        <form class="confirm-delete {{app.user.hasAccess('leave-room')}}" method="DELETE"
                                            action="{{path('leave-room')}}"  
                                            data-message="Voulez-vous liberer cette chambre?"
                                            data-toggle="ajax" data-target="monContent">
                                            <input type="hidden" name="id" value="{{allocation.id}}">												
                                            <button type="submit"  class="btn btn-link" > <i class="fa fa-check"></i> Libérer</button>
                                        </form>	
                                        <a href="" title="Continuer l'hebergement" class="btn btn-link" data-toggle="modal" data-target="#modalAllocation"><i class="fa fa-plus"></i> Prolonger</a>
                                    </div>
                                </div> #}
                                <form class="confirm-delete {{app.user.hasAccess('leave-room')}}" method="DELETE"
                                            action="{{path('leave-room')}}"  
                                            data-message="Voulez-vous liberer cette chambre?"
                                            data-toggle="ajax" data-target="monContent">
                                            <input type="hidden" name="id" value="{{allocation.id}}">												
                                            <button type="submit"  class="btn btn-teal" > <i class="fa fa-check"></i> Libérer</button>
                                        </form>	
                            </div>                            
                            {% endif %}
                        </p>
                        </div>
                    </div>
                {% endfor %}                    
            </div><!-- card-columns -->  
        </div>
    </div>
</div>

<!--Modal allocation de chambre-->
<div id="modalAllocation" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered full-width" role="document">
        <form id="form-send" class="js-form-sendallocation {{app.user.hasAccess('allocation-add')}}" action="{{path('allocation-add')}}" method="POST">        
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20 d-block">
                <span class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold" id="modal-titre"></span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <span class="float-right">SIESTE (FCFA): <span class="badge badge-primary mg-r-10" id="modal-sieste"></span></span>
                <span class="float-right">NUITEE (FCFA): <span class="badge badge-warning mg-r-10" id="modal-nuitee"></span></span>
            </div>
            <div class="modal-body pd-20 overflow-y-visible">
                <p class="mg-b-5">                
                    <input type="hidden" name="chambreID" id="modal-chambreID">
                    <div class="row">   
                        <div class="col-lg-10">
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <select  class="form-control" style="width: 100%;" name="client" id="client">
                                        <option selected disabled>Sélectionner un client</option>
                                        {% for client in clients %}
                                            <option value="{{client.id}}" {{client.isDefault ? "selected"}}>{{client.nom}} {{client.prenom}}</option>
                                        {% endfor %}
                                    </select>
                                    {# <select style="width: 100%;" class="js-search-ajax form-control" name="client" id="client">
                                    </select> #}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 justify-content-center">
                            <label for="chbox" class="mg-t-10">
                                <input type="checkbox" name="nouveau_client">
                                <span>Nouveau</span>
                            </label>
                        </div>
                    </div>
                    <hr id="hrNouveauClient" class="mg-t-1" style="display: none;">
                    <div class="row " style="display:none; margin-bottom: 30px;" id="divNouveauClient">    
                        <div class="col">
                            <label class="form-control-label">
                                Nom<span class="tx-danger">*</span>
                            </label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="nom"  placeholder="Nom">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                    Prénom
                            </label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="prenom"  placeholder="Prénom">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                CNI
                            </label>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="cni"  placeholder="cni">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-control-label">
                                Genre<span class="tx-danger">*</span>
                            </label>
                            <div class="col-sm-12">
                                <select class="form-control" name="sexe" required>
                                    <option selected disabled>Sélectionner</option>
                                    <option value="M">M</option>    
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr class="mg-t-1">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Hébergement<span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="modal-hebergement" name="hebergement" style="width:100%" required>                         
                                        <option selected disabled>Sélectionner</option> 
                                        <option value="SIESTE">SIESTE</option>                               
                                        <option value="NUITEE">NUITEE</option>                               
                                    </select>         
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Occurence: <span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="occurence" id="modal-occurence" value="1" min="1" max="24" required>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Montant total<span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="prix" id="modal-prix" value="0" readonly required>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Jour<span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <input name="jour" id="jour" type="date" min="{{'now' | date('Y-m-d')}}" value="{{'now' | date('Y-m-d')}}" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Heure<span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <input name="heure" id="heure" type="time" min="{{'now' | date('H:i')}}" value="{{'now' | date('H:i')}}" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Montant versé<span class="tx-danger">*</span>
                                </label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="versement" id="modal-versement"  min="500" step="500" required>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </p>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary tx-size-xs" id="btn-save-nouveau">Valider</button>
                <hr>
                <button type="button" class="btn btn-secondary tx-size-xs" data-dismiss="modal">Annuler</button>
            </div>
        </div>
        </form>
    </div><!-- modal-dialog -->
</div>

<script>
    $(".js-form-sendallocation").on('submit', function(e) {
    e.preventDefault();
    var idForm = $(this).attr('id');
    var element = $("#" + idForm + " #btn-save-nouveau");
    var element2 = $("#" + idForm + " #btn-save-nouveau");
    element.html('Chargement... <span class="fa fa-spinner fa-pulse"></span>');
    element.attr("disabled", "true");
    //////
    var dataform = $(this).serialize();
    $.ajax({
            url: "/allocationadd",
            type: 'POST',
            dataType: 'json',
            data:dataform
        }).done(function(data){ 
            $("#contentaftervalide").hide();
            element2.removeAttr("disabled");
            element2.html('VALIDER');           
            if(data.success){
                Swal.fire({
                    title: 'enregistrement terminé',
                    text: "Voulez vous imprimer le reçu ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Imprimer'
                }).then((result) => {
                    if (result.isConfirmed) {   
                        window.open("/printrecuallocation?id="+data.id, '_blank');
                    }else{
                        sweetNotification("Enregistrement terminé.");
                    }  
                    $('#modalAllocation').modal('toggle');                  
                    var url = "/indexallocation";
                    var effect = guessEffect(this, "#monContent");
                    ajaxLink(url, "monContent", "html", effect); 
                });            
            }else{
                sweetNotificationbad( data.message);
                console.log(data);
                element2.removeAttr("disabled");
                element2.html('VALIDER'); 
            }        
                
        }).fail(function(error){
            element2.removeAttr("disabled");
            element2.html('VALIDER'); 
        });       
}) 
</script>

<script>
    $("#modal-occurence").bind('keyup mouseup', function () {
        var hebergement = $("#modal-hebergement").val();
        calculPrixHebergement(hebergement);             
    });

    $("#form-filtre").on('submit', function(e){
      e.preventDefault();
        var jour = $("#jour").val();    
        var chambre = $("#chambre").val(); 
		var typechambre = $("#typechambre").val();   
        var url = "/filtreallocation?jour="+jour+"&chambre="+chambre+"&typechambre="+typechambre;        ;
        var effect = guessEffect(this, "#monContent");
        ajaxLink(url, "monContent", "html", effect);        
    })

    $("#type").on('change', function(e){
        var id = $(this).val();
        if(id == "all"){
            $(".filtre-type").css('display', 'block');
            $(".filtre-titre").css('display', 'block');
            $(".filtre-hr").css('display', 'block');
        }else{
            $(".filtre-type").css('display', 'none');
            $(".filtre-titre").css('display', 'none');
            $(".filtre-hr").css('display', 'none');
            $("#filtre-"+id).css('display', 'block');
            $("#titre-"+id).css('display', 'block');
            $("#hr-"+id).css('display', 'block');
        }
        
    });
    $("#modal-hebergement").on('change', function(e){
        var hebergement = $(this).val();
        calculPrixHebergement(hebergement);        
    });

    $('input[type="checkbox"]').change(function(){
      var checkbox = $(this);
      if(checkbox.is(":checked")) {
        $("#divNouveauClient").fadeIn();
        $("#hrNouveauClient").fadeIn();
        $("#client ").attr('disabled', true);         
      }else{
        $("#client").prop("disabled", false);
        $("#divNouveauClient").fadeOut();
        $("#hrNouveauClient").fadeOut();
     }
    });

   

    function loadModalData(chambreID, numero, type, sieste, nuitee){
        $("#modal-chambreID").val(chambreID);
        $("#modal-titre").html("Allouer la chambre <u>"+numero+"</u> de type <u>"+type+"</u>");
        $("#modal-sieste").html(sieste);
        $("#modal-nuitee").html(nuitee);
    }

    function calculPrixHebergement(hebergement){
        var sieste = parseFloat($('#modal-sieste').html());
        var nuitee = parseFloat($('#modal-nuitee').html());
        var occurence = parseFloat($('#modal-occurence').val());
        if(hebergement == "SIESTE"){
            $("#modal-prix").val( occurence * sieste);
        }else{
            $("#modal-prix").val( occurence * nuitee);
        }
    }
    
    $("#client").select2({
        placeholder: "Sélectionner un client",
        allowClear: false,
        dropdownParent: $('#modalAllocation')
    });

    
</script>
{# <script src="{{asset('js/search.js')}}"></script> #}
