<style>
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color:#696969;
  size: 0px;
  color: #ccc;
}


/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 25px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid black;
  border-top: none;
}

.h5{
	color:white;
}


.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.btn-group .btn:hover {
	cursor: pointer;
}

</style>

<div class="br-pagetitle">
  <i class="fas fa-signal"></i>
  <div>
  <h4>Modifier Client</h4>
  <p style="color:blue;" class="mg-b-0">----</p>
  </div>
</div><!-- d-flex -->
			
  <form id="form-send"  action="{{path('aedit-client')}}" class="js-form-sendavecfile sauvegardededonne {{app.user.hasAccess('aedit-client')}}" method="POST" data-toggle="ajax" data-target="monContent" enctype="multipart/form-data">
    <div class="row row-sm mg-t-25 mg-l-5 mg-t-5">
      <div class="col-3">
        <div class="card bd-primary">
          <div class="card-header bg-primary tx-white">
            Profile Photo
          </div>
          <!-- card-header -->
          
          <div class="card-body tx-center">
            
            <div class="mg-t-20">
            
                <img src="{{asset('photo/Chambre/'~ client.photo)}}" 
                height="100px" width="250" alt="dropdown image" 
                class="img-responsive">
                  <label class="col-sm-4 form-control-label" align=""><span class="tx-danger"></span></label>
                      <input type="file" name="photo" id="file-1" 
                          class="inputfile" data-caption="files selected" accept=".png, jpg,jpeg">
                          <label for="file-1" class="if-outline if-outline-info">
                          <i class="icon ion-ios-upload-outline tx-24"></i>
                          <span>Choisissez la photo a changer</span>
                  </label>
                <br>
              
            </div>
          </div>
          
          
          <!-- card-header -->
          <div class="card-body tx-center">
            <div class="mg-t-20">
              
            </div>
          </div>

          <!-- card-body -->
        </div>
      </div>
      <!-- col-3 -->
      
        <div class="col-9">
          
            <input type="hidden" name="id" value="">
            <input type="hidden" name="code" value="">
            <div class="card bd-primary">
              <div class="card-header bg-primary tx-white">
							<a href="{{path('index-client')}}" class=" text-white float-left" data-toggle="ajax" data-target="monContent"><i class="fa fa-arrow-left"></i></a>
                Informations  du client {{client.nom}}
              </div>
              <!-- card-header -->
              
              <div class="card-body">
                <div class="row row-xs">
                  <div class="col-lg-6">
                    <label for="">Nom:
                    </label>
                    <input class="form-control" id="id" type="hidden"  name="id"  value="{{client.id}}">
                    <input type="text" id="nom" class="form-control modif" name="nom" value="{{client.nom}}" >

                  </div>
                  <div class="col-lg-6">
                    <label for="">Prenom:
                    </label>
                    <input type="text" id="prenom" name="prenom" class="form-control modif" value="{{client.prenom}}" >
                  </div>
                </div>

                <div class="row row-xs  mg-t-20">
                  <div class="col-lg-6">
                    <label for="">Etatcivil:
                    </label>
                    {# <input type="text" id="telephone1" class="form-control modif" name="etatcivil" value="{{client.etatcivil}}" > #}
                      <select class="form-control" name="etatcivil" >
                        <option label="--choisir--"></option>
                        <option value="Mariéé">Mariéé</option>
                        <option value="Célibataire">Célibataire</option>
              
                      </select>       
                  </div>
                  <div class="col-lg-6">
                    <label for="">sexe:</label>
                    {# <input type="text" id="sexe" class="form-control modif" name="sexe" value="{{client.sexe}}" > #}
                      <select class="form-control" name="sex" >
                        <option label="--choisir--"></option>
                        <option value="M">M</option>
                        <option value="F">F</option>
        
                      </select>
                        
                    </label>
                  </div>
                </div>

                <div class="row row-xs  mg-t-20">
                  <div class="col-lg-4">
                    <label for="">CNI:</label>
                    <input type="text" id="telephone2" name="cni" class="form-control modif" value="{{client.cni}}" >
                  </div>
                  <div class="col-lg-4">
                    <label for="">Date de naissance:</label>
                    <input type="text" id="datenaiss" class="form-control modif datepicker" name="datenaisance" value="{{client.datenaisance | date('d-m-Y')}}"  style="height: 40px;" >
                  </div>
                  <div class="col-lg-4">
                    <label for="">Lieu de naissance:
                    </label>
                    <input type="text" id="lieunaiss" name="lieunaisance" class="form-control modif" value="{{client.lieunaisance}}" >
                  </div>
                </div>
                <div class="row row-xs  mg-t-20">
                  <div class="col-lg-4">
                    <label for="">Profession: 
                    </label>
                    <input type="text" id="lieunaiss" name="profession" class="form-control modif" value="{{client.profession}}" >
                  </div>
                  <div class="col-lg-4">
                    <label for="">nationalite:
                    </label>
                    <input type="text" id="lieunaiss" name="nationalite" class="form-control modif" value="{{client.nationalite}}" >

                  </div>
                  <div class="col-lg-4">
                    <label for="">telephone:
                    </label>
                    <input type="text" id="lieunaiss" name="phone" class="form-control modif" value="{{client.phone}}" >

                  </div>
                </div>
                <div class="row row-xs  mg-t-20">
                  <div class="col-lg-6">
                    <label for="">adresse:
                    </label>
                    <input type="text" id="lieunaiss" name="adresse" class="form-control modif" value="{{client.adresse}}" >

                  </div>
                  <div class="col-lg-6">
                    <label for="">email:
                    </label>
                    <input type="text" id="lieunaiss" name="email" class="form-control modif" value="{{client.email}}" >

                  </div>
                </div>
                <div class="row row-xs  mg-t-20">
                  <button type="submit" class="btn btn-primary">Modifier</button>

              </div>
              
            </div>
        


            
              <!-- card-body -->
            
            
          
          
        </div> 
    
      <!-- col-9 -->
    </div>
  </form>

		</div>
		<!-- end br-mainpanel -->
	


		





 <script>
      $(".formelement").hide();
    
    </script>
    <script>
      function show() {
        $(".formelement").show();
      }
      function hide() {
        $(".formelement").hide();
      }
    </script>
    
 
