{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}
{% block content %}
   <div class="br-pagetitle">
        <i class="icon ion-ios-home-outline"></i>
        <div>
          <h4>Dashboard</h4>
          <p class="mg-b-0">Do bigger things with Bracket plus, the responsive bootstrap 4 admin template.</p>
        </div>
    </div>
	 <div class="row row-sm">
                            <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                                <div class="bg-teal rounded overflow-hidden">
                                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                        <a href="{{path('index-client')}}" class="ajax-link"  data-toggle="ajax" data-target="monContent" data-toggle="ajax" data-target="monContent">
                                            <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
                                            <div class="mg-l-20">
                                                <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">% Unique Visits</p>
                                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">54.45%</p>
                                                <span class="tx-11 tx-roboto tx-white-8">TOTAL CLIENT</span><br>
                                                <h4 style="color:white;">{{totalclient}}</h4>
                                            </div>
                                        </a>                                
                                    </div>
                                    <div id="ch2" class="ht-50 tr-y-1"></div>
                                </div>
                            </div><!-- col-3 -->
                            <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                                <div class="bg-primary rounded overflow-hidden">
                                        <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                            <a href="{{path('index-reservation')}}" class="ajax-link"  data-toggle="ajax" data-target="monContent" data-toggle="ajax" data-target="monContent">
                                                <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                                                <div class="mg-l-20">
                                                    <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Bounce Rate</p>
                                                    <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">32.16%</p>
                                                    <span class="tx-11 tx-roboto tx-white-8">TOTAL RESERVATION</span><br>
                                                    <h4 style="color:white;">{{totalreservation}}</h4>
                                                </div>
                                            </a>                            
                                        </div>
                                        <div id="ch4" class="ht-50 tr-y-1"></div>
                                </div>
                            </div><!-- col-3 -->
                            <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                                <div class="bg-purple rounded overflow-hidden">
                                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                        <a href="{{path('liste-allocation')}}" class="ajax-link"  data-toggle="ajax" data-target="monContent" data-toggle="ajax" data-target="monContent">
                                            <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
                                            <div class="mg-l-20">
                                                <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Today Sales</p>
                                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">$329,291</p>
                                                <span class="tx-11 tx-roboto tx-white-8">TOTAL HEBERGEMENT</span><br>
                                                <h4 style="color:white;">{{totalallocation}}</h4>
                                            </div>
                                        </a>                        
                                    </div>
                                    <div id="ch3" class="ht-50 tr-y-1"></div>
                                </div>
                            </div><!-- col-3 -->
                            <div class="col-sm-6 col-xl-3">
                                <div class="bg-info rounded overflow-hidden">
                                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                                        <a href="{{path('index-chambre')}}" class="ajax-link"  data-toggle="ajax" data-target="monContent" data-toggle="ajax" data-target="monContent">
                                            <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
                                            <div class="mg-l-20">
                                                <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">Today's Visits</p>
                                                <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">1,975,224</p>
                                                <span class="tx-11 tx-roboto tx-white-8">TOTAL CHAMBRES</span><br>
                                                <h4 style="color:white;">{{totalchambre}}</h4>
                                            </div>
                                        </a>                                
                                    </div>
                                    <div id="ch1" class="ht-50 tr-y-1"></div>
                                </div>
                            </div><!-- col-3 -->
                        </div><!-- row -->                        
                        <div class="br-section-wrapper" style="padding-left: 10px; padding-right: 10px;">
                            <div class="row row-sm">
                                <div class="col-xl-9">
                                    <div id="carousel1" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <h6>STATISTIQUES EVOLUTION PAR ANTENNE</h6>
                                                <div class="bd pd-t-30 pd-b-20 pd-x-20"><canvas id="chartBar1" height="200"></canvas></div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="bd pd-t-30 pd-b-20 pd-x-20"><canvas id="chartBar2" height="200"></canvas></div>
                                            </div>
                                        </div><!-- carousel-inner -->
                                        <a style="color: red; background: #ded6d6; width: 40px;" class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Précédent</span>
                                        </a>
                                        <a style="color: red; background: #ded6d6; width: 40px;" class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Suivant</span>
                                        </a>
                                    </div><!-- carousel -->
                                    <div class="row row-xs mg-t-25">
                                        <div class="col-sm-6">
                                        <div style="background: black;" class="tx-center pd-y-15 bd bd-white-1">
                                            <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">New Deliveries</p>
                                            <h4 class="tx-lato tx-white tx-bold mg-b-0">{{ bilanjournalier}}</h4>
                                            <span class="tx-12 tx-success tx-roboto">BILAN JOURNALIER</span>
                                        </div>
                                        </div><!-- col-4 -->
                                        <div class="col-sm-6 mg-t-20 mg-sm-t-0">
                                        <div style="background: black;" class="tx-center pd-y-15 bd bd-white-1">
                                            <p class="mg-b-5 tx-uppercase tx-10 tx-mont tx-semibold">Delivered</p>
                                            <h4 class="tx-lato tx-white tx-bold mg-b-0">{{ staatistiquemois }}</h4>
                                            <span class="tx-12 tx-success tx-roboto">BILAN DU MOIS</span>
                                        </div>
                                        </div><!-- col-4 -->
                                        
                                    </div>
                                </div>
                                <div class="col-xl-3">                               
                                    <div id="carousel12" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                        <li data-target="#carousel12" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel12" data-slide-to="1"></li>
                                        <li data-target="#carousel12" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner {{app.user.hasAccess('view-all-antenne')}}" role="listbox">
                                        {% set premier = true %}
                                        {% for entene in statistiqueentene %}
                                        {% if premier 	== true %}
                                            <div class="carousel-item active">
                                                <div class="bg-br-primary pd-30 ht-300 pos-relative d-flex align-items-center rounded">
                                                    <div class="pos-absolute t-20 r-20">
                                                        <a href="" class="tx-white-5 hover-info"><i class="icon ion-edit tx-16"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-stats-bars tx-20"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-gear-a tx-20"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                                                    </div>
                                                    <div class="tx-white">
                                                        <p class="tx-uppercase tx-11 tx-semibold tx-mont tx-spacing-2 tx-white-5">Recent Article</p>
                                                        <h5 class="lh-5 mg-b-20">ANTENNE {{entene.entene}}</h5><br>
                                                        <h5>{{entene.total }}</h5>
                                                        
                                                    </div>
                                                </div><!-- d-flex -->
                                            </div>
                                            {% set premier = false %}
                                        {% else %}
                                            <div class="carousel-item">
                                                <div class="bg-br-primary pd-30 ht-300 pos-relative d-flex align-items-center rounded">
                                                    <div class="pos-absolute t-20 r-20">
                                                        <a href="" class="tx-white-5 hover-info"><i class="icon ion-edit tx-16"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-stats-bars tx-20"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-gear-a tx-20"></i></a>
                                                        <a href="" class="tx-white-5 hover-info mg-l-7"><i class="icon ion-more tx-20"></i></a>
                                                    </div>
                                                    <div class="tx-white">
                                                        <p class="tx-uppercase tx-11 tx-semibold tx-mont tx-spacing-2 tx-white-5">Recent Article</p>
                                                        <h5 class="lh-5 mg-b-20">ANTENNE {{entene.entene}}</h5><br>
                                                        <h5>{{entene.total }}</h5>
                                                        
                                                    </div>
                                                </div><!-- d-flex -->
                                            </div>
                                        {% endif %}

                                            
                                        {% endfor %}
                                        </div><!-- carousel-inner -->
                                    </div><!-- carousel -->
                                    <br>
                               
                                </div>
                            </div>
                            
                        </div>
{% endblock %}

