<div class="br-pagetitle">
  <i class="icon ionicons ion-radio-waves"></i>
  <div>
    <h4>ANTENNE</h4>
    <p style="color:blue;" class="mg-b-0">----</p>
  </div>
</div><!-- d-flex -->

<div class="br-section-wrapper">
  <h6 class="br-section-label">Liste des Antennes</h6>
    <div    x-data="{ ajouter : false }">
        <div class="d-flex justify-content-end" style="padding:10px;">
          <button onclick="show()"  class="btn btn-primary {{app.user.hasAccess('enteneadd')}}"><i class="fas fa-plus"></i> Ajouter</button> 
          <button class="btn btn-secondary {{app.user.hasAccess('print-antene')}}" style="margin-left:5px;"><a style="color:white;" href="{{path('print-antene')}}" target="_blank"><i class="fa fa-print"></i> Imprimer</a></button>
        </div>
        <form id="form-send" class="js-form-sendavecfile sauvegardededonne {{app.user.hasAccess('enteneadd')}}" action="{{path('enteneadd')}}" method="POST" data-toggle="ajax" data-target="monContent" enctype="multipart/form-data">
                <div class="formelement" x-show="ajouter" style="padding:10px;">

                  <div class="form-layout form-layout-1">
                    <div class="row mg-b-25">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Nom: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="nom"  placeholder="nom">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Localisation: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="localisation"  placeholder="localisation">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                        
                          <textarea class="form-control" type="text" name="description"  placeholder="Description"></textarea>

                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Telephone: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="tel"  placeholder="tel">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Email: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="email" name="email" placeholder="email">
                        </div>
                      </div><!-- col-4 -->
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label">Boite Postal: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="bp"  placeholder="Boite Postal">
                        </div>
                      </div><!-- col-4 -->
                              <div class="col-lg-6 mg-t-10 mg-sm-t-0">
                                    <label class="col-sm-4 form-control-label">Logo: <span class="tx-danger">*</span></label>
                                    <input type="file" name="logo" id="file-2"
                                          class="inputfile" data-caption="files selected" accept=".png, .jpg,.jpeg">
                                        <label for="file-2" class="if-outline if-outline-info">
                                          <i class="icon ion-ios-upload-outline tx-24"></i>
                                          <span>Choisisez une photo pour ce type</span>
                                          </label>
                              </div><!-- col-8 -->
                      <div class="col-lg-6">
                        <div class="form-group mg-b-10-force">
                          <label class="form-control-label">Site: <span class="tx-danger">*</span></label>
                          <input class="form-control" type="text" name="site"  placeholder="site" required="">

                        </div>
                      </div><!-- col-4 -->
                    </div><!-- row -->
                    <br>
                      <div class="form-layout-footer mg-t-30">
                          <button type="submit" id="btn-save-nouveau" class="btn btn-primary mg-r-5">Valider</button>
                                                                
                          <button type="button" class="btn btn-secondary" onclick="hide()">Annuler</button>
                      </div><!-- form-layout-footer -->
                  </div><!-- form-layout -->
        </form>
    </div>
          
    <div class="table-wrapper responsiveelement">
      <table class="datatable table display nowrap">
        <thead>
          <tr>
            <th class="wd-15p">ID</th>
            <th class="wd-15p">NOM</th>
            <th class="wd-20p">LOCALISATION</th>
            <th class="wd-10p">TELEPHONE</th>
            <th class="wd-25p">E-mail</th>
            <th class="wd-25p">SITE</th>
            <th class="wd-25p">ACTION</th>
          </tr>
        </thead>
        <tbody>
        {% for entene in entenes %}
          <tr>
            <td>
                  {{loop.index}}
            </td>
          <td>
            <a href="{{path('show', {id: entene.id})}}" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" >
                {{entene.nom}}
              </a>
            </td>
          <td>{{entene.localisation}}</td>
            <td>{{entene.tel}}</td>
          <td>{{entene.email}}</td>
          <td>{{entene.site}}</td>
          <td>
          
          <button class="btn btn-info active" {{app.user.hasAccess('show')}}><a href="{{ path('show',{id: entene.id}) }}" style="padding: 0px !important; color:white;" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-eye" aria-hidden="true"></i></a></button>
          <button class="btn btn-teal active" {{app.user.hasAccess('entene_edit')}}><a href="{{ path('entene_edit',{id: entene.id}) }}" style="padding: 0px !important; color:white;" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-edit" aria-hidden="true"></i></a></button>
          {#   <form style="display: contents;" class="js-form-send" action="{{path('antne-delete', {id: entene.id})}}" method="DELETE">
              <button class="btn btn-pink active"><i class="fa fa-trash" aria-hidden="true"></i></button>	
            </form> #}
            <form style="display: contents;" class="confirm-waiting js-form-send confirm-delete {{app.user.hasAccess('antne-delete')}}" data-message="Voulez-vous supprimer cette Antene?" data-toggle="ajax" data-target="monContent" action="{{path('antne-delete', {id: entene.id})}}" method="DELETE">
              <button class="btn btn-pink active"><i class="fa fa-trash" aria-hidden="true" data-toggle="ajax" data-target="monContent"></i></button>	
            </form>
            {# <button class="btn btn-danger active" ><a href="{{path('antne-delete', {id: entene.id})}}" style="padding: 0px !important; color:white;" class="nav-link ajax-link"  data-toggle="ajax" data-target="monContent" ><i class="fa fa-edit" aria-hidden="true" method="DELETE"></i></a></button> #}
        
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!-- table-wrapper -->
        </div><!-- br-section-wrapper -->




